@page "/"

<PageTitle>Klinoff Calendar</PageTitle>

<div class="container">
	<div class="row">
		<div class="col">
			<h1>Welcome to the Klinoff Calendar</h1>
			<p>Here you can view and manage your events.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Upcoming Events</h2>
			<br/>
			<EventList />
		</div>
	</div>
</div>
